In [2]:
import pandas as pd
import numpy as np
import csv

In [3]:
crime_df = pd.read_csv("crime.csv")
crime_df

,LGA_name,LGA_rate,offence_count,offence_subdiv,year
0,Glen Eira,1.291637,2,A10 Homicide and related offences,2023
1,Glen Eira,32.290924,50,A20 Assault and related offences,2023
2,Glen Eira,29.061832,45,A50 Robbery,2023
3,Glen Eira,7.749822,12,A60 Blackmail and extortion,2023
4,Glen Eira,1.937455,3,A60 Blackmail and extortion,2023
...,...,...,...,...,...
4282,Yarra Ranges,3.776530,6,F20 Transport regulation offences,2020
4283,Yarra Ranges,0.629422,1,F20 Transport regulation offences,2020
4284,Yarra Ranges,0.629422,1,F30 Other government regulatory offences,2020
4285,Yarra Ranges,447.518820,711,F90 Miscellaneous offences,2020
4286,Yarra Ranges,1.258843,2,F90 Miscellaneous offences,2020

In [73]:
crime_df['crime_sum'] = crime_df.groupby('LGA_name')['offence_count'].transform('sum')

In [74]:
crime_df

,LGA_name,LGA_rate,offence_count,offence_subdiv,year,crime_sum
0,Glen Eira,1.291637,2,A10 Homicide and related offences,2023,29301
1,Glen Eira,32.290924,50,A20 Assault and related offences,2023,29301
2,Glen Eira,29.061832,45,A50 Robbery,2023,29301
3,Glen Eira,7.749822,12,A60 Blackmail and extortion,2023,29301
4,Glen Eira,1.937455,3,A60 Blackmail and extortion,2023,29301
...,...,...,...,...,...,...
4282,Yarra Ranges,3.776530,6,F20 Transport regulation offences,2020,30455
4283,Yarra Ranges,0.629422,1,F20 Transport regulation offences,2020,30455
4284,Yarra Ranges,0.629422,1,F30 Other government regulatory offences,2020,30455
4285,Yarra Ranges,447.518820,711,F90 Miscellaneous offences,2020,30455
4286,Yarra Ranges,1.258843,2,F90 Miscellaneous offences,2020,30455

In [10]:
tmp_df = crime_df[crime_df.offence_subdiv == "A10 Homicide and related offences"]

In [72]:
tmp_df[tmp_df.groupby('LGA_name')]

TypeError: unhashable type: 'DataFrame'

In [70]:
pop_df = pd.read_csv("lga_pop.csv")
pop_df

         LGA_name  population    age_group
0         Bayside       55996  all_females
1      Boroondara       94592  all_females
2        Brimbank      102508  all_females
3     Hobsons Bay       48513    all_males
4      Manningham       62773    all_males
5     Maribyrnong       46730  all_females
6   Moonee Valley       67591  all_females
7        Moreland       95507  all_females
8    Port Phillip       57268    all_males
9     Stonnington       61587  all_females
10          Yarra       52070  all_females
11        Banyule       67369  all_females
12        Banyule       64571    all_males
13     Boroondara       88431    all_males
14        Darebin       85116  all_females
15        Darebin       81314    all_males
16     Manningham       66156  all_females
17    Maribyrnong       48252    all_males
18      Melbourne       90823    all_males
19  Moonee Valley       64162    all_males
20    Stonnington       57027    all_males
21          Yarra       51055    all_males
22        Bayside       51545    all_males
23       Brimbank      105739    all_males
24      Glen Eira       81112  all_females
25      Glen Eira       77104    all_males
26    Hobsons Bay       49676  all_females
27      Melbourne       92933  all_females
28       Moreland       93255    all_males
29   Port Phillip       59208  all_females